body{
    background-color: rgb(26, 35, 44);
    color:rgb(255, 255, 255);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  .logo{
    height: 30px;
  }
  .btn{
    padding: 9px 10px;
    
    border-radius: 5px;
    cursor: pointer;
  }

  .button{
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

